# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alankar Verma (alankar-verma)
# Aly Nathoo (anathoodell)
# Chaganti Rajitha (chaganti-rajitha)
# Evgeny Uglov (EvgenyUglov)
# Niranjan N (niranjan-n1)
# Rajshree Khare (khareRajshree)
# Samihan Deshmukh (samihan-dell)
# Shayna Finocchiaro (shaynafinocchiaro)
# for all files:
* @atye @alankar-verma @anathoodell @chaganti-rajitha @EvgenyUglov @niranjan-n1 @khareRajshree @samihan-dell @shaynafinocchiaro
